#card {
    display: flex;
    flex-direction: column;
    border-width: medium;
    cursor: pointer;
    width: 300px;
    border-radius: 10px;
	align-items: center;
	justify-content: baseline;
}

#card:hover {
    background-color: #a78f85;
}

#top > * {
    margin: 10px;
}

#name {
    font-size: 32px;
    text-shadow: 0 0 1px white;
    padding: 1%;
    margin: 0px 20px 0px 20px;
    text-align: center;
}


#price {
    border-top: medium solid black;
    text-shadow: 0 0 1px white;
    padding: 1%;
    margin: 0px 20px 20px 20px;
    font-size: 32px;
}

.listItemImg {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 20px;
}