#listingPage {
    position: relative;
    display: flex;
    flex-direction: row;
    top: -80px;
}

#listingHeader {
	position:relative;
	background-image: url(/src/pages/Pictures/woodBackground.png);
	background-position: left;
	background-size: 20%;
	background-repeat: no-repeat;
	padding: 30px;
    margin-bottom: 20px;
    top: -50px
}

#listingPage #listing-image {
    display: flex;
    flex-direction: column;
    width: 35vw;
    align-items: center;
}

#listingPage #listing-image img 
{
    max-width: 300px;
    max-height: 300px;
}

#listingPage #input-fields {
    width: calc(65vw - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center;
}

#listingPage #input-fields .field {
    width: 80%;
    margin-left: 10px;
}

#listingPage .input-box {
    margin: 10px;
    display: flex;
    width: 75%;
    align-items: center;
}