.profile {
	margin: 0 auto;
	padding: 20px;
	position: absolute;
	z-index: 0;
	background-image: url(/src/pages/Pictures/market-place-background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: calc(100vw - 40px);
	overflow-x: hidden;
	border-radius: 20px;
}

.Header {
	position: relative;
	background-image: url(/src/pages/Pictures/woodBackground.png);
	background-position: left;
	background-size: 15%;
	background-repeat: no-repeat;
	padding: 30px;
	justify-content: center;
	top: -40px;
}

.profile_editor {
    position: relative;
    top: -70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile_images {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 35vw;
}

.profile_images img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}

input[type='radio'] { 
    transform: scale(2); 
    margin: 0px;
}

#categorySelect > label {
    margin: 10px;
}

.account_field {
    opacity: 0.8;
    border-radius: 20px;
    font-size: 24px;
    padding: 5px;
    margin: 10px 0px;
    
}

.input-box label {
    font-family: 'Gudea-Bold';
    font-weight: 400;
    border-radius: 20px;
    font-size: 25px;
    margin: 10px;
    align-self: center;
    display: inline-block;
}

@font-face {
	font-family: 'Gudea-Bold';
	src: url('./Fonts/Gudea-Bold.ttf') format('truetype');
}

#update-password {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 0.75fr;
    width: 60vw;
    text-align: right;
}

#input-button{
    align-self: self-end;
    justify-self: center;
}

#results-message {
    grid-column: span 3;
    text-align: center;
    font-family: 'Gudea-Bold';
    font-weight: 400;
    border-radius: 20px;
    font-size: 18px;
}

.click-text{
    font-family: 'Gudea-Bold';
    font-weight: 350;
    border-radius: 20px;
    font-size: 18px;
    margin-bottom: 1px;
    margin-top: 1px;
}

.req-text {
    font-size: 20px;
    width: 20em;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: disc;
}

.click-text:hover{
    opacity: 0.75;
	cursor: pointer;
    color:white;
}

.profile_images {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.horizontal {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.column-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}







.req-text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 20px;
    width: 20em;
    margin-top: 0px;
    margin-bottom: 0px;
}